
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.log
*.sqlite
*.db


venv/
env/
ENV/
.venv/
*.egg-info/



.DS_Store
Thumbs.db


.streamlit/
*.tff
*.woff


uploaded/
output/
history/
assets/themes/*.pdf
*.pdf
*.mp3
*.png
*.jpg
*.json


.vscode/
.idea/

.cache/
transformers_cache/
huggingface/
*.pt
*.bin



